.wrapper{
    margin: 0px auto 20px auto;
    max-width: 80%;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    .wrapper--center{
        text-align: center;
    }
    .wrapper--left{
        text-align: left;
    }
    .wrapper--right{
        text-align: right;
    }
    .wrapper--bold{
        font-weight: bold;
    }
    .wrapper--italic{
        font-style: italic;
    }
    .wrapper--underline{
        font-style: underline;
    }
    .wrapper--oblique{
        text-decoration: oblique;
    }
}
.toolbar{
    margin: 20px auto 0 auto;
    max-width: 80%;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    span{
        width:30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
    }
    .active{
        color: #000;
        cursor: pointer;
    }
}
